.main-container {
    display: flex;
    height: 100dvh;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

@media (max-width:700px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 2;
        height: auto;
    }
}