.navbar {
    width: 300px;
    font-size: 1.1rem;
    color: rgb(110, 110, 110);
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

h3 {
    font-weight: 500;
    font-size: inherit;
}

.group__user {
    padding: 8px;
    padding-left: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-style: normal;
}

.group__list {
    list-style: none;
    max-width: 250px;
}

.group__title {
    padding-left: 20px;
    color: rgb(110, 110, 110, .6);
    padding-bottom: 10px;
}

.item__link {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    box-shadow: none;
    padding-left: 20px;
    transition: color .5s, background-color .5s, box-shadow .5s, font-weight .4s;
    cursor: pointer;
}

.item__link:is(:hover, :active), .router-active{
    color: #fff;
    background-color: rgba(20, 20, 20);
    box-shadow: 1px 5px 10px #222;
    font-weight: bold;
}