<section class="medico__view">
    <header class="view__header">
        <h2 class="header__title">Médicos</h2>
        <button class="header__button" (click)="registrar()">
            <svg width="20" height="20" aria-hidden="true">
                <use href="/image/sprite.svg#add"></use>
            </svg>
            Registrar</button>
    </header>

    <section class="view__cards">
        <ul class="cards__list">
            <li class="list__item">
                <small class="item__title">Totales</small>
                <strong class="item__content">{{medicosTotales()}}</strong>
            </li>
        </ul>
    </section>

    <table class="view__table">
        <thead class="table__title">
            <tr class="title__row">
                <th class="row__title">Nombres</th>
                <th class="row__title">Apellidos</th>
                <th class="row__title">Correo</th>
                <th class="row__title">Especialidad</th>
                <th class="row__title">Acciones</th>
            </tr>
        </thead>
        <tbody class="table__body">
            @for (medico of medicos(); track medico.numeroDocumento) {
            <tr class="body__row">
                <td class="row__content">{{medico.nombres}}</td>
                <td class="row__content">{{medico.apellidos}}</td>
                <td class="row__content">{{medico.correo}}</td>
                <td class="row__content">{{medico.especialidad}}</td>
                <td class="row__content content--actions">
                    <button (click)="editMedico(medico.numeroDocumento)" class="content__button button--edit">
                        <svg width="20" height="20" aria-hidden="true">
                            <use href="/image/sprite.svg#edit"></use>
                        </svg>
                        Editar
                    </button>
                    <button (click)="deleteMedico(medico.numeroDocumento)" class="content__button button--delete">
                        <svg width="20" height="20" aria-hidden="true">
                            <use href="/image/sprite.svg#delete"></use>
                        </svg>
                        Eliminar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
@if (isOpenForm()) {
<app-registrar-usuario [(isOpenForm)]="isOpenForm" [userRegister]="'Médico'" (usuarioRegistrado)="cargarMedicos()"
    [editUser]="medico()" />
}