.main-container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

@media (max-width:700px) {
    .main-container{
        flex-direction: column;
    }

    .sidebard{
        width: 100%;
        order: 2;
        height: auto;
    }
}