.dashboard {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    padding: 20px 5px;
    gap: 20px;
    height: 100dvh;
}

.dashboard__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__title {
    font-size: 1.8rem;
    font-weight: 600;
}

.header__date {
    color: var(--color-font);
}

.main__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.summary__card {
    border: 1px solid var(--color-border);
    border-radius: 30px;
    padding: 30px;
}

.card--black {
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: 1.3rem;
}

.card--black p {
    color: var(--color-notifications);
}

.card--black strong {
    font-size: 2.3rem;
    font-weight: 600;
}

.card__button {
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    bottom: 10px;
    background-color: var(--color-background);
    display: flex;
    cursor: pointer;
    transition: scale .4s;
}

.card__button:hover {
    scale: 1.2;

}

.card--white {
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
}

.card--white h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

.card--white p {
    font-weight: 600;
    color: rgb(150, 150, 150);
}

.main__agenda {
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.agenda__header {
    padding: 10px;
}

.agenda__header h2 {
    font-size: 1rem;
    font-weight: 500;
}

.agenda__header p {
    font-size: 1.5rem;
    font-weight: 600;
}

.header__filter {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.filter__btn {
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: color .4s, background-color .4s;
}

.filter__btn:is(:active, :hover) {
    color: #fff;
    background-color: #000;
}

.agenda__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.item__actions {
    display: flex;
    gap: 5px;
}

.actions__btn {
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    border: 1px solid #eee;
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
    transition: scale .4s;
}

.actions__btn:is(:hover, :active) {
    scale: 0.92;
}

.btn--black {
    background-color: #000;
    color: #fff;
}

.dashboard__aside {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    gap: 6px;
}

.aside__header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: rgb(110, 110, 110);
}

.aside__header h2 {
    font-weight: 500;
    color: #000;
}

.header__btn {
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: none;
    border: 1px solid rgb(110, 110, 110);
    color: inherit;
    background-color: #fff;
    border-radius: 15px;
    transition: color .4s, border-color .4s, scale .4s;
}

.header__btn:is(:hover, :active) {
    border-color: #000;
    color: #000;
    scale: 0.92;
    cursor: pointer;
}

.aside__list {
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    flex-grow: 1;
    list-style: none;
}

.list__date {
    border: 1px solid var(--color-border);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date__details {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-notifications);
    padding: 5px 10px;
    border-radius: 10px;
}

.list__date h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.date__buttons {
    display: flex;
    gap: 10px;
}

@media (max-width:700px) {
    .dashboard{
        display: flex;
        padding: 0;
        padding: 20px 15px;
        height: auto;
        flex-direction: column;
        gap: 20px;
    }

    .main__summary{
        display: flex;
        flex-direction: column;
    }
}