.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 10;
    width: max-content;
    transition:
        opacity .5s ease-out,
        transform .5s cubic-bezier(0.34, 1.56, 0.64, 1),
        display .5s allow-discrete;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 1.4rem;
    background: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.modal__close {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.4rem;
    display: flex;
    transition: scale .4s
}

.modal__close:hover{
    scale: 1.15
}

.modal__content {
    display: grid;
    gap: 5px;
    height: 100%;
    grid-template-columns: 1.8fr 1fr;
    gap: 20px;
}

h2 {
    font-weight: 500;
}

.content__calendario-card {
    border-radius: 12px;
    overflow: hidden;
}

.content__horas-container {
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    font-weight: 300;
}

h3 > strong{
    font-weight: 500;
}

.horas-container__horas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    max-height: 380px;
}

.horas__button {
    border: none;
    background-color: var(--color-notifications);
    font-size: 1.15rem;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.4s;
}

.horas__button:hover {
    scale: 0.92;
}

@starting-style {
    .modal {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}