.login__container {
    display: flex;
    background-color: var(--color-main);
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 360px;
    margin: 0 auto;
    background-color: var(--color-background);
    border-radius: 30px;
    padding: 25px;
    gap: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.login__icon-container {
    color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--color-main);
}

.main-icon {
    width: 50px;
    height: 50px;
}

.form__input-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid var(--color-main);
}

.icon {
    width: 9%;
    height: 100%;
}

input {
    font-size: 1.25rem;
    border: none;
    width: 100%;
    height: 90%;
    background-color: var(--color-background);
}

input:focus {
    outline: none;
}

.form__button {
    color: #fff;
    background-color: var(--color-main);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    letter-spacing: 2px;
    transition: background-color .5s, color .5s;
    cursor: pointer;
}

.form__button:hover {
    background-color: var(--color-background);
    color: var(--color-main);
    box-shadow: 0 0 12px var(--color-main);
}

p {
    font-size: 1.2em;
    font-weight: 300;
}

a {
    color: var(--color-main);
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

a:not(:is(:hover, :active)) {
    text-decoration: none;
}

.error__message{
    font-weight: 600;
    font-size: 1.4rem;
}