* {
    font-family: 'DMSans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 250, 250);
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 1000;
    font-display: swap;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: .6s;
}