.navbar {
    width: 300px;
    font-size: 1.2rem;
    color: var(--color-font);
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.navbar__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group__user {
    padding: 8px;
    padding-left: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-style: normal;
    color: var(--color-main);
}

.opcion__group {
    gap: 0;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

.group__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    max-width: 250px;
}

.group__title {
    padding-left: 20px;
    color: var(--color-font);
    padding-bottom: 10px;
}

.item__link {
    background-color: inherit;
    width: 100%;
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 15px;
    padding: 8px;
    box-shadow: none;
    padding-left: 20px;
    transition: color .5s, background-color .5s, box-shadow .5s, font-weight .2s;
    cursor: pointer;
}

.item__link:is(:hover, :active),
.router-active {
    color: var(--color-main);
    background-color: rgba(210, 210, 210, .6);
    font-weight: bold;
}

@media (max-width:700px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 10px 5px;
        gap: 0;
        background-color: var(--color-notifications);
    }

    .navbar__group {
        flex-direction: row;
        flex: 1;
        justify-content: center;
    }

    .group__title,
    .group__user {
        display: none;
    }

    .group__list {
        flex-direction: row;
        width: 100%;
        max-width: none;
        justify-content: space-around;
        gap: 0;
    }

    .item__link {
        flex-direction: column;
        gap: 2px;
        padding: 5px;
        font-size: .9rem;
        border-radius: 8px;
        flex: 1;
        transition: scale .4s;
    }

    .item__link:is(:hover, :active),
    .router-active {
        font-weight: 400;
        scale: 0.9;
    }

    .item__link svg {
        width: 25px;
        height: 25px;
    }
}